# Task 1: Write a python program to find the sum of the numbers passed as parameters.

In [2]:
def sum(*num):
    total = 0
    for n in num:
        total += n
    return total

print("Sum of numbers:", sum(10, 20, 30, 40))

Sum of numbers: 100

In [4]:
def sum1(a, b):
    return a + b

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

result = sum1(num1, num2)
print("Sum of the numbers:", result)

Enter first number: 3
Enter second number: 4
Sum of the numbers: 7

# Task 2: Define a Python function student(). Using function attributes display the names of all arguments.

In [16]:
def Student(*names):
    for name in names:
        print("Name: " + name)

Student("Irteja", "Mostak", "Shakil", "Sagor")

Name: Irteja
Name: Mostak
Name: Shakil
Name: Sagor

# Task 3: Write a Python program to create two empty classes, Student and Marks. Now create some instances and check whether they are instances of the said classes or not. Also, check whether the said classes are subclasses of the built-in object class or not.

In [9]:
class Student:
    pass
class Marks:
    pass
s1 = Student()
m1 = Marks()
print(isinstance(s1, Student))
print(isinstance(m1, Marks))
print(issubclass(Student, object))
print(issubclass(Marks, object))

True
True
True
True

# Task 4: Write a Python class named Student with two attributes: studentName, marks. Modify the attribute values of the said class and print the original and modified values of the said attributes.

In [17]:
class Student:
    def __init__(self, studentName, marks):
        self.studentName = studentName
        self.marks = marks

s1 = Student("Irteja", 85)

print("Original Values:")
print("Student Name:", s1.studentName)
print("Marks:", s1.marks)

s1.studentName = "Rafid"
s1.marks = 95

print("\nModified Values:")
print("Student Name:", s1.studentName)
print("Marks:", s1.marks)

Original Values:
Student Name: Irteja
Marks: 85

Modified Values:
Student Name: Rafid
Marks: 95

# Task 5: Write a Python class named Student with two attributes studentId, studentName. Add a new attribute studentClass and display the entire attribute and their values of the said class. Now remove the studentName attribute and display the entire attribute with values.

In [18]:
class Student:
    def __init__(self, studentId, studentName):
        self.studentId = studentId
        self.studentName = studentName

s1 = Student(213902016, "Irteja")
s1.studentClass = "4th Year Student"
print("Original Attributes and Values:", s1.__dict__)
del s1.studentName
print("Attributes After Removing studentName:", s1.__dict__)

Original Attributes and Values: {'studentId': 213902016, 'studentName': 'Irteja', 'studentClass': '4th Year Student'}
Attributes After Removing studentName: {'studentId': 213902016, 'studentClass': '4th Year Student'}

# Task 6:Write a Python class named Student with two attributes studentId, studentName. Add a new attribute studentClass and display the entire attribute and their values of the said class. Now remove the studentName attribute and display the entire attribute with values.

In [22]:
class Student:
    def __init__(self, studentId, studentName):
        self.studentId = studentId
        self.studentName = studentName

    def display_attributes(self):
        print("Student Attributes and Values:", self.__dict__)

s1 = Student(213902016, "Irteja")
s1.studentClass = "Under-Graduate"
s1.display_attributes()

Student Attributes and Values: {'studentId': 213902016, 'studentName': 'Irteja', 'studentClass': 'Under-Graduate'}